00 1 * * * GET https://simah.std1.net/jobs/hidroweb/inventory-station

30 1 * * * GET https://simah.std1.net//jobs/hidroweb/readings/hidro-serie-qa

00 2 * * * GET https://simah.std1.net/jobs/hidroweb/info-ana-adopted-telemetric-series-reading

10 * * * * GET https://simah.std1.net/jobs/lrgs/readings/dcp-messages
